html {

}

h1, h2 {
	margin:0;
}


body.main {
	min-width: 20em;
}

body.main h1 {
	font-size: 2em;
} 

body.main h2 {
	font-size: 1.125em;
}

body.main button {
	margin: 0.25em;
	font-size: 1.5em;
	line-height: 1.5em;
	color: white;
	border-width: 0.125em;
	border-style: solid;
	border-radius:0.25em;
}

body.main button {
	transition: background-color 0.175s ease-in-out, color 0.175s ease-in-out, border-color 0.175s ease-in-out;
	cursor: pointer;
	outline: none;
}

body.main button#enable {
	background-color: #2EA44F;
	border-color: #2EA44F;
}

body.main button#enable:before {
	content: 'Enable for this page';
}

body.main button#enable:hover {
	background-color: #2C974B;
	border-color: #2C974B;
}

body.main button#enable.enabled {
	background-color: white;
	color: #CB2431;
	border-color: #888;
}

body.main button#enable.enabled:before {
	content: 'Disable (Hide) for this page'
}

body.main button#enable.enabled:hover {
	background-color: #FF001B;
	color:white;
	border-color: #ff001B;
}

body.main button#reset, body.main button#reset_all {
	background-color: #CB2431;
	border-color: #CB2431;
}

body.main button#reset:hover, body.main button#reset_all:hover {
	background-color: #FF001B;
	border-color: #FF001B;
}

